<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>

    <extension id="EditorKitHook" point="org.protege.editor.core.application.EditorKitHook">
        <class value="org.exquisite.protege.model.EditorKitHook"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>

    <!-- Menus -->

    <extension id="menu.menudebug" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Excquisite Debugger"/>
        <toolTip value="Debug with Query Module "/>
        <path value="/SlotYB-B"/>
        <editorKitId value="any"/>
    </extension>

    <extension id="menu.menudebug.openmanualdebugtab" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Open Exquisite Ontology Debug Tab"/>
        <toolTip value="Open Exquisite Ontology Debug Tab"/>
        <class value="org.exquisite.protege.ui.menu.OpenOntologyDebugTab"/>
        <path value="org.exquisite.protege.menu.menudebug/SlotAA-B"/>
        <editorKitId value="any"/>
    </extension>

    <extension id="menu.menudebug.options" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Options"/>
        <toolTip value="Options"/>
        <class value="org.exquisite.protege.ui.menu.OpenOptionsDialog"/>
        <path value="org.exquisite.protege.menu.menudebug/SlotAD-C"/>
        <editorKitId value="any"/>
    </extension>

    <extension id="menu.menudebug.calculatediagnoses" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Calculate Diagnoses"/>
        <toolTip value="Calculate Diagnoses"/>
        <class value="org.exquisite.protege.ui.menu.CalculateDiagnoses"/>
        <path value="org.exquisite.protege.menu.menudebug/SlotAC-B"/>
        <editorKitId value="any"/>
        <accelerator value=" shift C"/>
    </extension>

    <extension id="menu.menudebug.reset" point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Reset "/>
        <toolTip value="Reset"/>
        <class value="org.exquisite.protege.ui.menu.Reset"/>
        <path value="org.exquisite.protege.menu.menudebug/SlotAC-C"/>
        <editorKitId value="any"/>
        <accelerator value=" shift R"/>
    </extension>

    <!-- Tabs -->

    <extension id="OntologyDebugging" point="org.protege.editor.core.application.WorkspaceTab">
        <label value="Exquisite Ontology Debugging"/>
        <class value="org.protege.editor.core.ui.workspace.WorkspaceViewsTab"/>
        <defaultViewConfigFileName value="OntologyDebuggingLayout.xml"/>
        <index value="X1"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>

    <!-- Views -->

    <extension id="QueryView" point="org.protege.editor.core.application.ViewComponent">
        <label value="Query View"/>
        <class value="org.exquisite.protege.ui.view.QueryView"/>
        <headerColor value="810000"/>
        <category value="Debugger"/>
    </extension>

    <extension id="QueryHistoryView" point="org.protege.editor.core.application.ViewComponent">
        <label value="Query History View"/>
        <class value="org.exquisite.protege.ui.view.QueryHistoryView"/>
        <headerColor value="810000"/>
        <category value="Debugger"/>
    </extension>

    <extension id="DiagnosesView" point="org.protege.editor.core.application.ViewComponent">
        <label value="Diagnoses"/>
        <class value="org.exquisite.protege.ui.view.DiagnosesView"/>
        <headerColor value="810000"/>
        <category value="Debugger"/>
    </extension>

    <extension id="ConflictsView" point="org.protege.editor.core.application.ViewComponent">
        <label value="Conflicts"/>
        <class value="org.exquisite.protege.ui.view.ConflictsView"/>
        <headerColor value="810000"/>
        <category value="Debugger"/>
    </extension>

    <extension id="BackgroundView" point="org.protege.editor.core.application.ViewComponent">
        <label value="Diagnosismodel"/>
        <class value="org.exquisite.protege.ui.view.BackgroundView"/>
        <headerColor value="810000"/>
        <category value="Debugger"/>
    </extension>

    <extension id="TestcaseView" point="org.protege.editor.core.application.ViewComponent">
        <label value="Testcases"/>
        <class value="org.exquisite.protege.ui.view.TestcaseView"/>
        <headerColor value="810000"/>
        <category value="Debugger"/>
    </extension>

    <extension id="querydebugger.prefs" point="org.protege.editor.core.application.preferencespanel">
        <label value="Exquisite QueryDebugger"/>
        <class value="org.exquisite.protege.ui.panel.QueryDebuggerPreferencesPanel"/>
    </extension>

</plugin>
