# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# additional unversioned files for .gitignore
owl-plugin/src/evaluation/resources/ontologies/catalog-v001.xml
owl-plugin/src/test/resources/ontologies/catalog-v001.xml
